.switch-button[type="checkbox"] {
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  height: 20px;
  width: 100%;
  background-color: #37B12F;
  border-color: transparent;
  background-clip: padding-box;
  color: #EEEEEE;
  vertical-align: middle;
  margin: 0px;
  border-radius: 10px;
}

.switch-button[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 50%;
  background-color: white;
  border: 2px solid transparent;
  background-clip: padding-box;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-animation: switch-off-transform 0.25s ease-out forwards;
          animation: switch-off-transform 0.25s ease-out forwards;
  z-index: 2;
  border-radius: 10px;
}

.switch-button[type="checkbox"]:focus {
  border-color: transparent;
  background-color: #37B12F;
  outline: none;
}

.switch-button[type="checkbox"]:checked {
  background-color: #1A88BC;
  border-color: transparent;
}

.switch-button[type="checkbox"]:checked::before {
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-animation: switch-on-transform 0.25s ease-out forwards;
          animation: switch-on-transform 0.25s ease-out forwards;
}

.switch {
  position: relative;
  display: inline-block;
  width: 100%;
}

.switch::before, .switch::after {
  position: absolute;
  top: 7px;
  line-height: 0.55;
  font-size: 14px;
  font-weight: bold;
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  letter-spacing: 0;
  word-spacing: 5px;
  z-index: 1;
  pointer-events: none;
  color: #ffffff;
}

.switch::before {
  left: 8px;
  content: "Address";
}

.switch::after {
  right: 8px;
  content: "LatLong";
}

.switch-button:hover {
  cursor: pointer;
}

@-webkit-keyframes switch-on-transform {
  0% {
    -webkit-transform: translateX(0) scaleX(1) translateZ(0);
            transform: translateX(0) scaleX(1) translateZ(0);
  }
  25% {
    -webkit-transform: translateX(0) scaleX(1.33) translateZ(0);
            transform: translateX(0) scaleX(1.33) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(100%) scaleX(1) translateZ(0);
            transform: translateX(100%) scaleX(1) translateZ(0);
  }
}

@keyframes switch-on-transform {
  0% {
    -webkit-transform: translateX(0) scaleX(1) translateZ(0);
            transform: translateX(0) scaleX(1) translateZ(0);
  }
  25% {
    -webkit-transform: translateX(0) scaleX(1.33) translateZ(0);
            transform: translateX(0) scaleX(1.33) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(100%) scaleX(1) translateZ(0);
            transform: translateX(100%) scaleX(1) translateZ(0);
  }
}

@-webkit-keyframes switch-off-transform {
  0% {
    -webkit-transform: translateX(100%) scaleX(1) translateZ(0);
            transform: translateX(100%) scaleX(1) translateZ(0);
  }
  25% {
    -webkit-transform: translateX(100%) scaleX(1.33) translateZ(0);
            transform: translateX(100%) scaleX(1.33) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1) translateZ(0);
            transform: translateX(0) scaleX(1) translateZ(0);
  }
}

@keyframes switch-off-transform {
  0% {
    -webkit-transform: translateX(100%) scaleX(1) translateZ(0);
            transform: translateX(100%) scaleX(1) translateZ(0);
  }
  25% {
    -webkit-transform: translateX(100%) scaleX(1.33) translateZ(0);
            transform: translateX(100%) scaleX(1.33) translateZ(0);
  }
  100% {
    -webkit-transform: translateX(0) scaleX(1) translateZ(0);
            transform: translateX(0) scaleX(1) translateZ(0);
  }
}

#input-switch-container {
  margin-bottom: 8px;
}