input[type=text] {
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 2px 4px;
}

.location-input {
	display: none;
	padding-bottom: 8px;
}

.location-input.active {
	display: block;
}

.location-input input[type=text] {
	z-index: 1;
}

#location-list-container {
	width: 220px;
	display: table-cell;
	background-color: #ffffff;
	vertical-align: top;
	position: relative;
}

#location-list-container .scroll-container {
	overflow: auto;
	height: 100%;
	padding: 10px;
	padding-bottom: 100px;
}

#location-list-container .expand-button-container {
	display: none;
}

#location-list-container .button-container {
	text-align: center;
}

#location-list-container .button-container button {
	height: 24px;
	border: 2px solid #aaaaaa;
	background-color: #ffffff;
	color: #aaaaaa;
	border-radius: 12px;
	padding: 0px;
	outline: none;
	font-weight: bold;
	padding: 0px 4px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

#location-list-container .button-container button:first-child {
	margin-right: 4px;
}

#location-list-container .button-container button:last-child {
	margin-left: 4px;
}

#location-list-container .button-container button:hover {
	cursor: pointer;
	background-color: #eeeeee;
}

#location-list-container .button-container button:active {
	background-color: #cccccc;
}

.address input {
	width: 100%;
}

.latlong input {
	width: 100%;
}

.latlong .input-container {
	position: relative;
	display: inline-block;
	width: 50%;
}

.latlong .input-container:first-child {
	padding-right: 4px;
}

.latlong .input-container:last-child {
	padding-left: 4px;
}

.location-tag {
	font-size: 12px;
	text-transform: uppercase;
	color: #aaaaaa;
}

@media screen and (max-width: 991px) {
	#location-list-container {
		z-index: 1;
		position: fixed;
		display: block;
		left: -220px;
		top: 0;
		bottom: 0;
		-webkit-transition: left .35s ease-out, height .35s ease-out;
		-moz-transition: left .35s ease-out, height .35s ease-out;
		-o-transition: left .35s ease-out, height .35s ease-out;
		transition: left .35s ease-out, height .35s ease-out;
	}

	#location-list-container.active {
		left: 0px;
	}

	#location-list-container .expand-button-container {
		display: block;
		position: absolute;
		width: 30px;
		height: 30px;
		left: 100%;
		top: 50%;
		border-radius: 15px;
		margin-top: -15px;
		margin-left: -15px;
		overflow: hidden;
	}

	#location-list-container .expand-button:hover {
		cursor: pointer;
	}

	#location-list-container .expand-button {
		width: 50%;
		height: 100%;
		float: right;
		background-color: #ffffff;
		color: #cccccc;
		text-align: center;
		position: relative;
	}

	#location-list-container .expand-button::after {
		position: absolute;
		content: '';
		height: 6px;
		width: 6px;
		border: solid #cccccc;
	    border-width: 0 3px 3px 0;
	    top: 50%;
	    right: 5px;
	    transform: rotate(-45deg);
    	-webkit-transform: rotate(-45deg);
    	margin-top: -3.6px;
	}

	#location-list-container.active .expand-button::after {
	    transform: rotate(135deg);
    	-webkit-transform: rotate(135deg);
	}
}

@media screen and (max-width: 470px) {
}