#submit-container {
	position: absolute;
	height: 90px;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #dddddd;
	background-color: #ffffff;
}

#submit-container .token-container {
	height: 55px;
	width: 100%;
	overflow: hidden;
	padding: 9px 10px 8px;
}

#submit-container .token-container textarea {
	width: 100%;
	height: 100%;
	resize: none;
}

#submit-container .submit-button-container {
	height: 34px;
	width: 100%;
	overflow: hidden;
}

#submit-container .submit-button-container button {
	width: 50%;
	height: 100%;
	outline: none;
	background-color: #bbbbbb;
	border: 1px solid #999999;
}

#submit-container .submit-button-container button:hover {
	cursor: pointer;
	background-color: #dddddd;
}

#submit-container .submit-button-container button:active {
	background-color: #cccccc;
}