* {
	box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hidden {
	display: none !important;
}

#root-container {
	display: table;
	width: 100vw;
	height: 100vh;
}

#title-container {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #999999; 
}

::-webkit-scrollbar-thumb:hover {
    background: #888888; 
}

@media screen and (max-width: 991px) {
	#root-container {
		display: block;
	}
}

@media screen and (max-width: 470px) {

}