#map-container {
	height: 100%;
	right: 0;
	top: 0;
	bottom: 0;
	display: table-cell;
	position: relative;
}

#route-details {
	position: absolute;
	height: 29px;
	width: 200px;
	background-color: #ffffff;
	bottom: 10px;
	left: 50%;
	margin-left: -100px;
	font-size: 10px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #777777;
}

@media screen and (max-width: 991px) {
	#map-container {
		width: 100%;
		left: 0;
		display: block;
	}
}

@media screen and (max-width: 470px) {

}